body{
	background: #f5f5f5;
	padding-bottom: 2rem;
}
.container{
	max-width: 64rem;
	margin: 0 auto;
	overflow-x: hidden;
}
.
/*瀑布流*/
.fall-box{
  width: 100%;
  margin: 5% 8px 0px 8px ;
}
.fall-box .item{
   /*width: calc((100% - 28px)/2);*/
  width: 50%;
   margin-bottom: 1.5rem;
   padding:0 5px;
}
.fall-box .section-p{
	 background: white;
	 padding-top: 1.5rem;
	 padding-left:5%;
	 overflow: hidden;
}
.fall-box .item-img{
	width:100% ;
	display: block;
}
.item .title-p{
	color: #000;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}
.item .name-p{
	color: #555;
	font-size: 1rem;
}
.item .price-p{
	margin-top: .8rem;
	color: #444;
	font-size: 1.2rem;
	padding-bottom: 2.2rem;
}
.more-a{
	display: block;
	text-align: center;
	margin-top: 8%;
}
.more-a img{
	width: 6%;
}










